/* Reset */
* {
  padding: 0;
  margin: 0;
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Shared Styles */
.primary-color {
  color: #181818;
}
.secondary-color {
  color: #fd6e0a;
}
.common-color {
  color: #474747;
}
.bg-color {
  background: #fff8f3;
}
.primary-btn {
  padding: 18px 35px;
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  border: 2px solid #fd6e0a;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0; /* 166.667% */
}
.text-center {
  text-align: center;
}

/* body */
/* header bg */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 150px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

/* Navbar */
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

/* Banner Section */
.banner-title-one {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin: 20px 0;
}
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 150px;
}
.banner-content {
  width: 580px;
}
.contact-btn {
  background-color: transparent;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  margin-left: 30px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  margin: 20px 0;
}
.banner-img {
  width: 580px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section  */
.about {
  margin: 130px 0;
  padding: 130px 180px;
  border-radius: 10px;
}
.about-content {
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
}
.about-item p {
  color: #757575;
  font-size: 16px;
  line-height: 30px; /* 150% */
}
.about-item h4 {
  color: #474747;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.about-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* skill section */
.skill-container {
  margin-bottom: 130px;
}
.skill-article {
  padding: 0 130px;
}
.skill-items {
  display: flex;
  gap: 24px;
}
.skill-item {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}
.skill-title {
  margin: 20px 0;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* resume-container */
.resume {
  margin-bottom: 130px;
}
.resume-container {
  display: flex;
  gap: 24px;
  margin-top: 100px;
}
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-item {
  margin: 30px 0;
}
.resume-item hr {
  margin-top: 30px;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-experience {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}
.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
